
.bunner {

    background: url(./img/fon.png) no-repeat;
    height: 32.4vw;
    width: 100vw;
    background-size: 100%;
}
.budget{
    position: absolute;
    font-weight: lighter;
    margin-top: 7vw;
    margin-left: 18vw;  
    color: #68757e; 
    font-size:  2.5vw;
    text-align: center;
}
#fon{
    width: 100%;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
}
.download{
    position: absolute;
    margin-top: 25vw;
    margin-left: 30vw;
}

.downloadText{  
    padding-left: 2vw;
    padding-bottom: 0.7vw;
    font-size: 2vw;
    color: #68757e; 
}
h1, .p{
    margin-bottom: 0;
    text-align: center;
    font: 200% light;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #68757e; 
    margin-top: 10vh;
}
.p{
    padding:0 3vw;
    font-size: 100%;
    margin: 4vh 18% 0;
}
.phone{
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}